* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

:root {
  --primaryColor: #0066ff;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --darkGrey: #cfcfcf;
  --DarkSlateGray: #112b2b;
  --mainTransition: all 0.3s linear;
  /* kelimeler arasi bosluk */
  --mainSpacing: 0.75px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */
body {
  padding-top: 100px;
  color: var(--mainBlack);
  /* background: var(--offWhite); */
  /* şuanlık renk farkı istemiyorum nav ile main arasinda */
  background: var(--mainWhite);
  line-height: 0.75;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.1em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 15%;
}

.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}

.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  /* background: var(--mainWhite); */
  /* bsub */
  background: var(--offWhite);
  z-index: 1;
}

.nav-header {
  /* genel olarak buton degisiyor kucuk ekranda */
  display: flex;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  justify-content: space-between;
}

.nav-btn {
  /* genel olarak buton degisiyor kucuk ekranda */
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  /* margin-top: -2rem; */
}

.nav-icon {
  font-size: 2rem;
  color: var(--primaryColor);
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  /* https://fonts.google.com/?sort=date&selection.family=Bebas+Neue */
  font-family: "Bebas Neue", cursive;
}

.nav-links a {
  height: auto;
  display: block;
  /* linklerin altını çiziyor */
  text-decoration: none;
  padding: 1rem 0;
  color: var(--DarkSlateGray);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 590;
  letter-spacing: var(--mainSpacing);
}

/* burası gelistirilebilir
https: //uicookies.com/link-style-css/ */
.nav-links a:hover {
  transform: translateY(-0.25em);
}

.show-nav {
  height: auto;
}

@media screen and (min-width: 1215px) {
  .nav-btn {
    display: none;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }

  .nav-links {
    height: auto;
    display: flex;
    margin-top: 2rem;
    margin-left: 14rem;
    margin-bottom: 2rem;
  }

  .nav-links a {
    margin: 0 2rem;
    padding: 0.5rem 0;
  }
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */

/* Hero */
.defaultHero {
  min-height: calc(100vh - 66px);
  background: url("./images/defaultBcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  color: var(--DarkSlateGray);
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */

/* Banner */
.banner {
  display: inline-block;
  padding: 2em 1rem;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  color: var(--DarkSlateGray);
  background: linear-gradient(-65deg, var(--offWhite) 30%, #00cc66 30%);
}

.banner h1 {
  display: inline-block;
  font-size: 2.5rem;
}

.banner input @media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }

  .banner h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 5rem;
  }

  .banner h1 {
    font-size: 4rem;
  }
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
.person {
  background: #eeeeee;
  width: auto;
  padding: 1.5rem;
  margin: 2rem auto;
  transition: all 0.3s linear;
  border-radius: 0.3rem;
  text-align: center;
}
.person img {
  border-radius: 50%;
  border: 0.1rem solid teal;
  height: 150px;
  width: 150px;
}

.person h5,
.person h4,
.person h6 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
  text-align: center;
}

.person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

/* .rowC {
  display: flex;
  /* flex-direction: row; 
  text-align: center;
  display: inline-block
} 

.rowC text {
  text-transform: capitalize;
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
}

.rowC title {
  text-transform: capitalize;
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
  font-weight: bold;
} */
